@font-face {
  font-family: 'SF Mono';
  src: url("./public/fonts/SFMono/SFMono-Regular.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url("./public/fonts/SFMono/SFMono-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url("./public/fonts/SFMono/SFMono-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF Mono';
  src: url("./public/fonts/SFMono/SFMono-Bold.otf");
  font-weight: 700;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Archivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
