@tailwind base;
@tailwind utilities;
@tailwind components;

.algolia-autocomplete {
  width: 100%;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header span {
  display: inline-block;
}

.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
  min-width: 300px;
  max-width: calc(100vw - 50px);
}

[data-reach-skip-link] {
  @apply sr-only;
}

[data-reach-skip-link]:focus {
  @apply not-sr-only fixed ml-6 top-0 bg-white text-lg px-6 py-2 mt-2 outline-none focus:ring z-50;
}

h1, h2, h3, h4, h5, h6, div, span, p {
  font-family: 'Archivo', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code, code div, code span {
  font-family: 'SF Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  line-height: 1.7;
}

/* Archivo letter-spacings overrides */

p, a {
  letter-spacing: 0.02em !important;
}

h1 {
  letter-spacing: 0.04em !important;
}

h2 {
  letter-spacing: 0.04em !important;
}

h3 {
  letter-spacing: 0.03em !important;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sidebar a {
  letter-spacing: 0.04rem !important;
}

/* .html.dark .logo {
  fill: "#fff";
}

.html.light .logo {
  fill: "#000";
}
*/
