name: Release

on:
  push:
    branches:
      - master
    tags:
      - v*
  pull_request:
    branches:
      - master
    types: [labeled]

jobs:
  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        # os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Log Github reference
        run: echo "Checking out ${{ github.ref }}"

      - uses: actions/checkout@v1

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
          registry-url: "https://registry.npmjs.org"

      - name: Cache esy dependencies
        uses: actions/cache@v1
        id: cache
        with:
          path: _export
          key: ${{ runner.OS }}-build-${{ hashFiles('esy.lock/index.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-${{ env.cache-name }}-
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-

      - name: Install esy
        run: npm install -g esy@0.6.6

      - name: Import dependencies
        if: steps.cache.outputs.cache-hit == 'true'
        run: esy import-build _export/*

      - name: Install dependencies
        run: esy install

      - name: Build
        run: esy build

      - name: Run Native tests
        run: esy test_native

      - name: Run Native snapshot tests
        run: esy test_snapshot

      - name: Export dependencies
        run: esy export-dependencies

      - name: Get Esy binary path
        id: esy_binary_path
        shell: bash
        run: |
          # from https://stackoverflow.com/a/24848739/617787
          s=$(pwd); d=$(dirname $(esy x which styled-ppx));
          while [ "${d#$s/}" == "${d}" ]
          do s=$(dirname $s);b="../${b}"; done;
          ESY__BINARY_PATH=${b}${d#$s/}/styled-ppx
          echo "ESY__BINARY_PATH: $ESY__BINARY_PATH"
          echo "##[set-output name=path;]$ESY__BINARY_PATH"

      - name: Upload artifacts for ${{ matrix.os }}
        uses: actions/upload-artifact@master
        with:
          name: ${{ matrix.os }}
          path: ${{ steps.esy_binary_path.outputs.path }}

  publish:
    needs: build
    name: Publish
    runs-on: ubuntu-latest
    if: "contains(github.event.pull_request.labels.*.name, 'release: nightly') || github.tag != ''"
    steps:
      - uses: actions/checkout@v1

      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Make NPM release skeleton
        run: node scripts/release-make-skeleton.js

      - name: Download linux artifacts
        uses: actions/download-artifact@master
        with:
          name: ubuntu-latest
          path: _release/platform-linux-x64

      - name: Download macOS artifacts
        uses: actions/download-artifact@master
        with:
          name: macos-latest
          path: _release/platform-darwin-x64

      # - name: Download windows artifacts
      #   uses: actions/download-artifact@master
      #   with:
      #     name: windows-latest
      #     path: _release/platform-windows-x64

      - name: Create archives for Github release
        run: |
          cd _release/platform-darwin-x64
          zip -r ../../styled-ppx-darwin-x64.zip .
          cd ../..

          cd _release/platform-linux-x64
          zip -r ../../styled-ppx-linux-x64.zip .
          cd ../..

          # cd _release/platform-windows-x64
          # zip -r ../../styled-ppx-windows-x64.zip .
          # cd ../..

      - name: Create Github release
        id: create_release
        if: "startsWith(github.ref, 'refs/tags/v')"
        uses: actions/create-release@v1.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false

      - name: Upload styled-ppx-darwin-x64.zip to Github release
        if: "startsWith(github.ref, 'refs/tags/v')"
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: styled-ppx-darwin-x64.zip
          asset_name: styled-ppx-darwin-x64.zip
          asset_content_type: application/gzip

      - name: Upload styled-ppx-linux-x64.zip to Github release
        if: "startsWith(github.ref, 'refs/tags/v')"
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: styled-ppx-linux-x64.zip
          asset_name: styled-ppx-linux-x64.zip
          asset_content_type: application/gzip

      # - name: Upload styled-ppx-windows-x64.zip to Github release
      #   if: github.ref != 'refs/heads/master'
      #   uses: actions/upload-release-asset@v1.0.1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create_release.outputs.upload_url }}
      #     asset_path: styled-ppx-windows-x64.zip
      #     asset_name: styled-ppx-windows-x64.zip
      #     asset_content_type: application/gzip

      - name: Config NPM package
        run: |
          npm config set //registry.npmjs.org/:_authToken=$NODE_AUTH_TOKEN
          npm config set scope "@davesnx"
          npm config list

        working-directory: ./_release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

      - name: Nightly NPM package
        if: "!startsWith(github.ref, 'refs/tags/v')"
        run: |
          npm version nightly.${{ github.event.pull_request.issue_number }}.${GITHUB_SHA}
          npm publish --access public --tag nightly
        working-directory: ./_release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}

      - name: Release NPM package
        if: "startsWith(github.ref, 'refs/tags/v')"
        run: npm publish --access public
        working-directory: ./_release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
